<div ng-controller="AuthCtrl">
  <p class="text-danger" ng-show="error">{{ error }}</p>
  <form ng-submit="login()">

    <div class="form-group">
      <label for="username">Username</label>
      <input type="text" id="username" class="form-control" ng-model="username" placeholder="Enter Username">
    </div>

    <div class="form-group">
      <label for="password">Password</label>
      <input type="password" id="password" class="form-control" ng-model="password" placeholder="Password">
    </div>

    <div class="form-group">
      <a href="">Forgot your username or password?</a>
    </div>

    <div class="form-group">
      <input type="submit" class="btn btn-default" value="Submit">
    </div>

  </form>
</div>