<div ng-controller="AuthCtrl">
  <p class="text-danger" ng-show="error">{{ error }}</p>
  <form ng-submit="register()">

    <div class="form-group">
      <label for="username">Username</label>
      <input type="text" id="username" class="form-control" ng-model="username" placeholder="Enter Username">
    </div>

    <div class="form-group">
      <label for="email">Email</label>
      <input type="text" id="email" class="form-control" ng-model="email" placeholder="Enter Email">
    </div>


    <div class="form-group">
      <label for="email">Password</label>
      <input type="password" class="form-control" ng-model="password1" placeholder="Password">
      <input type="password" class="form-control" ng-model="password2" placeholder="Retype Password">
    </div>

    <div class="form-group">
      <input type="submit" class="btn btn-default" value="Submit">
    </div>

  </form>
</div>