<h1>About BeerCellar</h1>

<div class="container">

    <h3>Sign Up</h3>

    <p>As a member of CellarsAndTraders.com you can create a profile and add beers to your virtual Cellar.  Keep updating with new beers and share your Cellar with your friends online.</p>

    <h3>Search the Beer Database Provided By <a href="http://brewerydb.com">BreweryDB.com</a></h3>

    <p>Search for the beers you're keeping in your Cellar and add them to your Cellar list. Didn't find your beer in the database? Go ahead and add it!</p>

    <p>Update your Cellar:  Went beer shopping this weekend?  Got a nice trade haul come in?  Add your beers here!</p>

    <h3>Share your Cellar and Wish List</h3>

    <p>CellarsAndTraders.com gives you the ability to interact with your friends or like minded beer enthusiasts.  Trade beers around the world in an easy to use secure social media.</p>

    <p>Can’t find that awesome beer you had at a tasting?  Why not search other Traders Cellars?  You can trade that new IPA you got from your local brewery.  Activate the trader option for your profile, free of charge.  Search for the beer in other Traders Cellers, find someone with it marked for Trade and use CellarAndTraders.com to easily and securely communicate with other beer traders.</p>

</div>