<div class="jumbotron">
  <h1>Cellars & Traders</h1>
  <p class="lead">
    <img src="images/yeoman.png" alt="I'm Yeoman"><br>
    Bring your beer collection to light with Cellars & Traders. Build your cellar by searching our beer database, share your cellar with your friends online and maybe make some trades with other Cellars & Traders friends.

  </p>
  <p><a class="btn btn-lg" ng-href="#/about">Learn More!</a></p>
</div>

<div class="row">
  <h4>Sign In</h4>
  <p ng-include src="'views/partials/login.html'"></p>

  <h4>Join Cellars & Traders</h4>
  <p ng-include src="'views/partials/register.html'"></p>
</div>
