<div class="jumbotron">
  <h2>Cellars &amp; Traders</h2>
  <p class="lead">
    Bring your beer collection to light with Cellars & Traders. Build your cellar by searching our beer database, share your cellar with your friends online and maybe make some trades with other Cellars & Traders friends.
  </p>
  <p><a class="btn btn-lg" ng-href="#/about">Learn More!</a></p>
</div>

<div ng-show="!isAuthenticated()" class="row">

  <div class="col-md-6">
    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title">Log In</h3>
      </div>
      <div class="panel-body">
        <p ng-include src="'views/partials/login.html'"></p>
      </div>
    </div>
  </div>

  <div class="col-md-6">
    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title">Sign Up</h3>
      </div>
      <div class="panel-body">
        <p ng-include src="'views/partials/register.html'"></p>
      </div>
    </div>
  </div>

</div>
