<div class="media">
  <div class="media-left">
    <img class="media-object" src="http://placehold.it/150x150">
  </div>
  <div class="media-body">
    <h4 class="media-heading">SirDrinks-a-Lot</h4>
    <div>Last Login: 1/5/2015 3:57 PM</div>
    <div>Date Joined: 1/5/2015</div>
    <div><a href="">Change Photo</a></div>
    <div><a ng-href="#/" ng-click="logout()">Log Out</a></div>
  </div>
</div>

<hr/>

<form>

  <div class="form-group">
    <label for="email">User Profile</label>
    <input type="text" class="form-control" id="username" placeholder="Username">
  </div>
  <div class="form-group">
    <input type="email" class="form-control" id="email" placeholder="Enter email">
  </div>
  <div class="form-group">
    <a href="">Change Password</a>
  </div>


  <div class="form-group">
    <label>Shipping Information</label>
    <div class="row">
      <div class="col-xs-6">
        <input type="text" class="form-control" placeholder="First Name">
      </div>
      <div class="col-xs-6">
        <input type="text" class="form-control" placeholder="Last Name">
      </div>
    </div>
  </div>
  <div class="form-group">
    <input type="text" class="form-control" id="exampleInputEmail1" placeholder="Street Address">
  </div>
  <div class="form-group">
    <div class="row">
      <div class="col-xs-6">
        <input type="text" class="form-control" placeholder="City">
      </div>
      <div class="col-xs-2">
        <input type="text" class="form-control" placeholder="State">
      </div>
      <div class="col-xs-4">
        <input type="text" class="form-control" placeholder="Zip">
      </div>
    </div>
  </div>

  <div class="form-group">
    <div class="row">
      <div class="col-xs-2">
        <button type="submit" class="btn btn-default">Update Profile</button>
      </div>
      <div class="col-xs-10">
        <button type="button" class="btn btn-link">Delete Account</button>
      </div>
    </div>
  </div>

</form>