<h1>Search for a Beer</h1>

<div class="container">

  <form class="form-horizontal" ng-submit="submit()">
    <div class="row">

      <div class="form-group col-sm-8">
        <input type="text" id="text" class="form-control" ng-model="text" name="text" placeholder="Enter Beer Name...">
      </div>

      <div class="form-group col-sm-4">
        <input type="submit" id="submit" class="btn btn-default" value="Submit" />
        <input type="button" class="btn btn-default" ng-click="reset()" value="Reset" />
      </div>

    </div>
  </form>

    <p/>

    <img class="spinner" ng-src="images/spinner.gif" ng-show="loading">

    <h4 ng-if="beers.length">Search Results</h4>

    <div ng-repeat="beer in beers">

      <div class="results media well">
        <a class="pull-left" href="#" role="button">
          <img class="media-object" src="{{ beer.labels.icon }}">
        </a>
        <div class="media-body">
          <h4 class="media-heading">
            <a href="#" role="button" class="detail open-detailModal">{{ beer.name }}</a>
          </h4>
          <h4 class="media-heading">
            <small>{{ beer.style.name }} by <strong>{{ beer.breweries[0].name }}</strong></small>
          </h4>
          <p>{{ beer.description }}</p>
          <p>
              <a href="#" role="button" class="btn btn-primary add open-bucketModal">Add to Cellar</a>
              <a href="#" role="button" class="btn btn-primary add open-bucketModal">Add to Wish List</a>
          </p>
        </div>
      </div>

    </div>
    <div ng-if="noResults">
      <strong>No results found...</strong>
    </div>

    <div ng-if="error" class="alert alert-error">
      <button type="button" class="close" data-dismiss="alert">×</button>
      <strong ng-bind="error"></strong>
    </div>

</div>
